@font-face {
    font-family: "Ubuntu Regular";
    src: url("../fonts/Ubuntu-Regular.ttf");
}

body {
    font-family: "Ubuntu Regular", sans;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    color: #f1f1f1;
    display: block;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar a:visited {
    color: white;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px;
    margin-right: 10%;
    font-size: 14px;
    padding: 0px 10px;
    /* Increased text to enable scrolling */
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 14px;
    }
}

.codeline {
    background-color: darkcyan;
    color: white;
    font-family: "ubuntu mono", monospace;
    border-radius: 3px;
    padding: 0px 0px 1px 1px;
}

img {
    width: 50vw;
    height: auto;
}

td {
    border-bottom: 1px solid #ddd;
}

figcaption {
    font-size: 12px;
    text-align: left;
}

pre.listing-block {
    white-space: pre-wrap;
    font-family: "jetbrains mono nl", "calling code", monospace;
    background-color: ghostwhite;
}

pre.listing-block::before {
    counter-reset: listing;
}

pre.listing-block code {
    counter-increment: listing-counter;
}

pre.listing-block code::before {
    content: counter(listing-counter) "  ";
    display: inline-block;
    width: 4em;
    padding-left: auto;
    margin-left: auto;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    color: cornflowerblue;
}
