/* czcionki */
@font-face {
    font-family: "ubuntu", sans-serif;
    src: url("../fonts/Ubuntu-Regular.ttf");
}
body {
    font-family: "ubuntu", sans-serif;
}


/* panel boczny – czarny pas */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: "ubuntu", sans-serif;
}
.sidebar p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    color: #f1f1f1;
    display: block;
}
.sidebar a {
    text-decoration: none;
    color: white;
}

/* obszar roboczy – biała plansza */
.main {
    margin-left: 250px;
    margin-right: 10%;
    font-size: 14px;
    padding: 0px 10px;
    font-family: "ubuntu", sans-serif;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}

/* kolorowanie tła */
.region-grey {
    background-color: whitesmoke;
}
.region-blue {
    background-color: aliceblue;
}
.region-white {
    background-color: white;
}
#table-of-content a {
    text-decoration: none;
    color: blue;
}
a {
    text-decoration: none;
    color: teal;
}


/* listing – kod źródłowy */
pre.listing-block {
    font-family: "jetbrains mono", "calling code", "adwaita mono", "ubuntu mono", monospace;
    background-color: ghostwhite;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
    word-wrap: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 1px solid olive;
}
pre.listing-block::before {
    counter-reset: listing;
}
pre.listing-block code {
    counter-increment: listing-counter;
}
pre.listing-block code::before {
    content: counter(listing-counter) "   ";
    display: inline-block;
    width: 4em;
    padding-left: 0px;
    margin-left: auto;
    text-align: right;
    font-size: 12px;
    color: olive;
}

.code-line {
    font-family: "jetbrains mono", "ubuntu mono", monospace;
    background-color: gainsboro;
    border: 0px solid olive;
}
p {
    line-height: 1.4;
}


/* załączone obrazy */
img {
    width: 50vw;
    height: auto;
}
figcaption {
    font-size: 12px;
    text-align: left;
}
.fighover figure {
    display: inline-block;
    border: 1px;
    margin: 10px;
}
.fighover figure, .fighover img {
    vertical-align: top;
    width: 29vw;
}
.fighover figure, .fighover figcaption {
    border: 1px;
    text-align: center;
}


/* tabela zgrupowanych osiągnięć */
.achievements {
    table-layout: fixed; 
    width: 90%;
    text-align: left;
}
.achievements--name {
    text-align: center;
    vertical-align: middle;
}
.achievements caption {
    text-align: left;
    padding-left: 1px;
    font-weight: bold;
}
table.achievements td {
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(128, 128, 0, 0.2);
}
.achievements td:nth-child(1) {
    padding-left: 11px;
    width: 70%;
}
.achievements td:nth-child(2) {
    padding-left: 11px;
    width: 100%;
}


/* tabela ścieżki dźwiękowej */
.soundtrack-ost {
    table-layout: fixed;
    margin: auto;
    width: 50%;
}
.soundtrack-ost td:nth-child(2) {
    text-align: end;
    padding-left: 5px;
    width: 10%;
}
.soundtrack-ost tr:nth-child(even) {
    background-color: ghostwhite;
}


/* responsiveness */
@media only screen and (min-width: 1px) and (max-width: 920px) {
    .sidebar {
        width: 120px;
    }
    .main {
        margin-left: 120px;
    }
    .soundtrack-ost {
        width: 100%;
    }
}
@media only screen and (min-width: 921px) and (max-width: 1250px) {
    .sidebar {
        width: 150px;
    }
    .main {
        margin-left: 150px;
    }
    .soundtrack-ost {
        width: 70%;
    }
}
@media only screen and (min-width: 1251px) and (max-width: 1450px) {
    .sidebar {
        width: 200px;
    }
    .main {
        margin-left: 200px;
    }
    .soundtrack-ost {
        width: 50%;
    }
}
@media only screen and (min-width: 1451px) and (max-width: 1900px) {
    .soundtrack-ost {
        width: 45%;
    }
}
@media only screen and (min-width: 1901px) {
    .sidebar {
        width: 250px;
    }
    .main {
        margin-left: 250px;
    }
    .soundtrack-ost {
        width: 30%;
    }
}

