@font-face {
    font-family: "ubuntu", sans-serif;
    src: url("../fonts/Ubuntu-Regular.ttf");
}
body {
    font-family: "ubuntu", sans-serif;
}


.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: "ubuntu", sans-serif;
}
.sidebar p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    color: #f1f1f1;
    display: block;
}
.sidebar a {
    text-decoration: none;
    color: white;
}
.sidebar a:visited {
    color: white;
}
.sidebar a:hover {
    color: #f1f1f1;
}


.main {
    margin-left: 250px;
    margin-right: 10%;
    font-size: 14px;
    padding: 0px 10px;
    font-family: "ubuntu", sans-serif;
}
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 14px;
    }
}


pre.listing-block {
    font-family: "jetbrains mono", "calling code", "adwaita mono", monospace;
    background-color: ghostwhite;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
    word-wrap: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 1px solid olive;
}
pre.listing-block::before {
    counter-reset: listing;
}
pre.listing-block code {
    counter-increment: listing-counter;
}
pre.listing-block code::before {
    content: counter(listing-counter) "   ";
    display: inline-block;
    width: 4em;
    padding-left: 0px;
    margin-left: auto;
    text-align: right;
    font-size: 12px;
    color: olive;
}

